@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Home/site.css">
</head>

<body>
    <div class="main" enctype="multipart/form-data">
        <nav style="background-color: aqua;" enctype="multipart/form-data">
            <span><img width="53" src="~/images/UE-Logo-1.webp" alt=""></span>
            <div>
                <button class="btn">eiglish</button>
                <button class="btn btn-red">sing in</button>
            </div>
        </nav>
        <div class="box">
        </div>
        <div class="hero">
            Get The Best Netflix Clone in 6 Simple Steps with Vodlix

            <div>
                <input type="text" placeholder="Email Add">
                <button class="btn btn-red-sm">Get Started &gt;</button>
            </div>
        </div>
        <div class="separation"></div>
    </div>
    <section class="first">
        <div>
            <h3 style="color:blue;">@Html.ActionLink("Buy Now", "AddProduct")</h3>
            <span>Enjey your karachi</span>
            <span> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
        <div class="sec">
            <!-- <img src="k img.jpg" alt=""> -->
            <video src="~/images/Trending_Travel_Instagram_Reel_production_story_25774_1_1_1685008321355_SD0.5.mp4" autoplay loop
                   muted style="height: 320px;"></video>
        </div>
    </section>
    <div class="separation"></div>
    <section class="first secand">
        <div class="sec">
            <img src="~/images/karchi img.jpg">
        </div>
        <div>
            <span>Enjey your karachi</span>
            <span> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
    </section>
    <div class="separation"></div>
    <section class="first therd">
        <div>
            <span>Enjey your karachi</span>
            <span> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
        <div class="sec">
            <!-- <img src="k img.jpg" alt=""> -->
            <video src="~/images/Trending_Travel_Instagram_Reel_production_story_25774_1_1_1685008321355_SD0.5.mp4" autoplay loop
                   muted style="height: 320px;"></video>
        </div>
    </section>
    <div class="separation"></div>
    <section class="faq">
        <h2>THE BEST</h2>
        <div class="faqbox">
            <span>WELCOM</span>
        </div>

        <div class="faqbox">
            <span>WELCOM</span>
        </div>
        <div class="faqbox">
            <span>WELCOM</span>
        </div>
        <div class="faqbox">
            <span>WELCOM</span>
        </div>
    </section>
    <div class="separation"></div>

    <footer>
        <div class="quastion">karachi</div>
        <div class="footer">
            <div class="footer-item">
                <a href="frq">faq</a>
                <a href="frq">faq</a>
                <a href="frq">faq</a>
                <a href="frq">faq</a>
            </div>

            <div class="footer-item">
                <a href="frq">faq</a>
                <a href="frq">faq</a>
                <a href="frq">faq</a>
                <a href="frq">faq</a>
            </div>
        </div>
    </footer>
</body>

</html>